{% extends 'canvan/base.html' %}
{% load static%}

{% block estilo %}
	<link rel="stylesheet" href="{% static 'css/canvan_detail.css' %}">
{% endblock %}
	
{% block contenido%}
	<div class="container-fluid contenedor-cuerpo">

		<div class="container-fluid my-3">
			<h1> {{ tablero.nombre }} </h1>
			<p> Ultima modificación el {{ tablero.fecha_ultima_modificacion }}</p>
		</div>

		<div class="contenedor-tablero">
			{% for columna in tablero.columna_set.all %}	
				<div class="columna" id="{{ columna.id }}">
					<h3>{{ columna.nombre }}</h3>

					{% for tarjeta in columna.tarjeta_set.all %}
						<div class="tarjeta" draggable="true" id="{{ tarjeta.id }}">
							{{ tarjeta.nombre }}
							{% if tarjeta.descripcion %}
								<a href="#">desc</a>
							{% endif %}
						</div>
                    {% endfor %}
                    
					<form method="POST" action="{% url 'canvan:detail' tablero.id %}">	
						{% csrf_token %}
						<input type="hidden" name="columna" value="{{ columna.id }}">
						<input type="text" name="nombre">
						<button type="submit" class="btn btn-light">Agregar tarjeta</button>
                    </form>
				</div>
			{% endfor %}
			
			<form method="POST" action="{% url 'canvan:detail' tablero.id %}">	
				{% csrf_token %}
				<input type="hidden" name="columna" value="{{ columna.id }}">
				<input type="text" name="nombre">
				<button type="submit" class="btn btn-light">Agregar columna</button>
			</form>

		</div>
	</div>
{% endblock contenido %}