<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Document</title>

	{% load static%}
	{% load bootstrap4 %}
	{% bootstrap_css %}
	
	<link rel="stylesheet" href="{% static 'css/canvan_detail.css' %}">
	
	<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
</head>
<body>
	
	<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
		<div class="container">
			<a href="{% url 'mainPage' %}" class="navbar-brand">APPS</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'mainPage' %}">Home<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'blog:index' %}">Blog<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'canvan:index' %}">Canvan<span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid contenedor-cuerpo">
		
		<div class="container-fluid my-3">
			<h1> {{ tablero.nombre }} </h1>
			<p> Ultima modificación el {{ tablero.fecha_ultima_modificacion }}</p>
		</div>

		<div class="contenedor-tablero">
			{% for columna in tablero.columna_set.all %}	
				<div class="columna">
					<h3>{{ columna.nombre }}</h3>

					{% for tarjeta in columna.tarjeta_set.all %}
						<div class="tarjeta" draggable="true">
							{{ tarjeta.nombre }}
							{% if tarjeta.descripcion %}
								<a href="#">desc</a>
							{% endif %}
						</div>
                    {% endfor %}
                    
					<form method="POST" action="{% url 'canvan:detail' tablero.id %}">	
						{% csrf_token %}
						<input type="hidden" name="columna" value="{{ columna.id }}">
						<input type="text" name="nombre">
						<button type="submit" class="btn btn-light">Agregar tarjeta</button>
                    </form>
				</div>
			{% endfor %}
			
			<form method="POST" action="{% url 'canvan:detail' tablero.id %}">	
				{% csrf_token %}
				<input type="hidden" name="columna" value="{{ columna.id }}">
				<input type="text" name="nombre">
				<button type="submit" class="btn btn-light">Agregar columna</button>
			</form>

		</div>
	</div>

	{% bootstrap_javascript jquery='full' %}
	<script type="text/javascript" src="{% static 'js/canvan.js' %}"></script>
</body>
</html>