{% extends 'canvan/base.html'%}
{% load static%}

{% block estilo%}
	<link rel="stylesheet" href="{% static 'css/canvan_index.css' %}">
{% endblock estilo%}

{% block contenido%}
	<div class="container my-5 boder">
		<h1> Tableros </h1>

		{% for tablero in tablas_canvan %}
			<div class="tarjeta-tablero">
				<div class="titulo-tarjeta-tablero">
					<a href="{% url 'canvan:detail' tablero.id%}">{{ tablero.nombre }}</a>
					modificado por última vez el {{ tablero.fecha_ultima_modificacion }}	
				</div>
				<div class="cuerpo-tarjeta-tablero">
					{{ tablero.descripcion }}
				</div>
			</div>
		{% endfor %}

	</div>
{% endblock contenido%}