{% extends 'canvan/base.html' %}
{% load static%}

{% block estilo %}
	<link rel="stylesheet" href="{% static 'css/blog_style.css' %}">
{% endblock estilo %}

{% block contenido %}	
	<div class="container my-4">
		<div class="card-columns">
			{% for articulo in ultimos_articulos %}
				<div class="card">
					{% if articulo.imagen %}
						<img src="{{ articulo.imagen.url }}" class="card-img-top">
					{% endif %}
					<div class="card-body">
						<h5 class="card-title"><a href="{% url 'blog:detail' articulo.id %}">{{ articulo.titulo }}</a></h5>		
					</div>
					<div class="card-footer">
						<smal class="text-muted">pulicado el {{ articulo.fecha_publicacion  }} por {{ articulo.autor }}  </smal>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock contenido %}
